{% extends "base.html" %}

{% block breadcrumb %}
<li><a href="/games">Games</a></li>
{% endblock %}

{% block content-title %}Games{% endblock content-title %}

{% block content %}

  {% if page_content %}
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Gegner</th>
      <th>Ort</th>
      <th>Score (RCW:Gegner)</th>
    </tr>
  </thead>
  <tbody>
    {% for game in page_content %}
    <tr>
      <td>{{game.date|date:"d.m.Y, G:i"}}</td>
      <td><a href="/games/{{game.id}}">{{game.opponent}}</a></td>
      <td>{{game.location}}</td>
      {% if game.pointsO %}
        <td>{{game.get_points}}:{{game.pointsO}}</td>
      {% else %}
        <td>--</td>
      {% endif %}
    </tr>
    {% endfor %}

  </tbody>
  </table>

  {% else %}
    no games found
  {% endif %}
{% endblock content %}
